body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: inline;
    margin-right: 20px;
    background-color: #C8C8C8
}

a {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-decoration: none;
    color: #800000;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2em;
}

h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.6em;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-top: 1px solid #9A9A9A;
    font-size: 1em;
}

ul.posts { 
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 20px auto 20px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    list-style: none;
}
