---
layout: default
title: Zuurix.com - Home
---

<div class="blurb">
	
<h1>Home</h1>
	
<p>Welcome to the home for awesome indie games created by Zuurix!</p>
	
<comments>
<a>Blog</a>
</comments>
	
<!--{% for post in site.posts %}
<p><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><i><small> – {{ post.date | date_to_long_string }}</i></small></p>
{% endfor %}-->
	
{% for post in site.posts  %}

{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
 
{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

{% if forloop.first %}
<h2 id="{{ this_year }}-ref">{{this_year}}</h2>

{% endif %}

<p><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><i><small> – {{ post.date | date_to_long_string }}</i></small></p>

{% if forloop.last %}

{% else %}
{% if this_year != next_year %}

<h2 id="{{ next_year }}-ref">{{next_year}}</h2>

{% endif %}
{% endif %}
{% endfor %}
	
<micro-space>
<a> </a>
</micro-space>
	
</div>
