body {
    margin: 60px auto;
    width: 70%;
    font: 'Lucida Console'
}
nav ul, footer ul {
    font: 'Lucida Console';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font: 'Lucida Console';
}
a {
    text-decoration: none;
    font: 'Lucida Console';
    color: #999;
}
a:hover {
    text-decoration: underline;
    font: 'Lucida Console';
}
h1 {
    font-size: 3em;
    font: 'Lucida Consolee';
}
p {
    font-size: 1.5em;
    font: 'Lucida Console';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font: 'Lucida Console';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font: 'Lucida Console';
}

ul.posts li {
    list-style: none;
    font: 'Lucida Console';
}
