<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<img src="http://i.imgur.com/OTmZncL.png" alt="Zuurix" style="width:250px;height:250px;">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/games">Games</a></li>
	        	<li><a href="/about">About</a></li>
    		</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:zuurixgames.com">Contact</a></li>
			<li><a href="https://www.zuurix.github.io/blog/">RSS feed</a></li>
			</ul>
		</footer>
	</body>
</html>
