<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% seo %}
	</head>
	<body>
		<img src="http://i.imgur.com/o9kLktd.png" alt="Zuurix.com" style="width:842px;height:248px;">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/blog">Community</a></li>
			<li><a href="/games">Games</a></li>
	        	<li><a href="/about">About</a></li>
    		</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
			<a href="mailto:zuurixgames@gmail.com">Contact Zuurix</a>
		</footer>
	</body>
</html>
